<nav>
    {{#if savedRoute}}
        {{> navbar/nav save=true}}
    {{else}}
        {{> navbar/nav save=false}}
    {{/if}}
</nav>

<h1>Mongo Scraper</h1>
<h3>Physics Edition</h3>

<div class="container-fluid article-container">
    {{#if savedRoute}}
        {{> cards/card-saved save=false}}
    {{else}}
        {{> cards/card-home save=true}}
    {{/if}}
</div>

<div class="comments">
    <div class="comment-modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <div class="card">
                {{#if savedRoute}}
                    {{> modals/header}}
                {{/if}}
                <div class="card-body">
                    <div class="comments"></div>
                    {{#if savedRoute}}
                        {{> modals/body}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
