<nav>
    {{#if savedRoute}}
        {{> navbar/nav save=true}}
    {{else}}
        {{> navbar/nav save=false}}
    {{/if}}
</nav>

<h1>Mongo Scraper</h1>
<h3>Physics Edition</h3>

<div class="container-fluid article-container">
    {{#if savedRoute}}
        {{> cards/card-saved save=false}}
    {{else}}
        {{> cards/card-home save=true}}
    {{/if}}
</div>

<div class="comments">
    {{#if savedRoute}}
        {{> modals/modal}}
    {{/if}}
</div>
