<nav>
    {{#if savedRoute}}
        {{> navbar/nav save=true}}
    {{else}}
        {{> navbar/nav save=false}}
    {{/if}}
</nav>
<h1>Mongo Scraper</h1>
<h3>Physics Edition</h3>

<div class="container-fluid article-container">
    {{#if savedRoute}}
        {{> cards/card-saved}}
    {{else}}
        {{> cards/card-home}}
    {{/if}}
</div>
