{{#each articles}}
    {{#if saved}}
        <div class="comment-modal">
            <div class="modal-content">
                <span class="close-button">&times;</span>
                <div class="card">
                    <div class="card-header">Comments for Article: {{id}}</div>
                    <div class="card-body">
                        <div class="comments"></div>
                        <form>
                            <textarea type="text" name="text" id="Article-Comment" cols="30" rows="10" placeholder="Comment"></textarea>
                            <button type="submit">Save Comment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
{{/each}}